{% extends 'tickets/base.html' %}
{% block content %}
<h2>Доступные билеты</h2>
<form method="get">
  Откуда: <input type="text" name="origin" value="{{ request.GET.origin }}">
  Куда: <input type="text" name="destination" value="{{ request.GET.destination }}">
  <button type="submit">Поиск</button>
</form>

<ul>
  {% for t in tickets %}
    <li>{{ t.origin }} → {{ t.destination }} | {{ t.depart_date }} | ${{ t.price }}</li>
  {% empty %}
    <li>Билетов нет</li>
  {% endfor %}
</ul>
{% endblock %}
